PRIVATE_KEY=
RPC_ENDPOINT=https://mainnet.helius-rpc.com/?api-key=
RPC_WEBSOCKET_ENDPOINT=wss://mainnet.helius-rpc.com/?api-key=
QUOTE_MINT=WSOL
QUOTE_AMOUNT=0.0093
COMMITMENT_LEVEL=confirmed
USE_SNIPE_LIST=false
SNIPE_LIST_REFRESH_INTERVAL=20000
CHECK_IF_MINT_IS_RENOUNCED=true
AUTO_SELL=true
MAX_SELL_RETRIES=3
AUTO_SELL_DELAY=30000
LOG_LEVEL=info
TAKE_PROFIT=25
STOP_LOSS=25
BIRDEYE_API_KEY=
MIN_POOL_SIZE=1000
RUGCHECK=true
SLIPPAGE=20%
